[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Remap Super, Alt, Ctrl
Comment=OS X Style (drew)
Exec=/bin/bash -c "sleep 5; /usr/bin/xmodmap /home/drew/.Xmodmaprc"
OnlyShowIn=XFCE;
StartupNotify=true
Terminal=false
Hidden=false

