# Sample ~/.aliases file
# ----------------------------------------
# Put customized aliases in here.
# See auto-included aliases in ~/.shell
# ----------------------------------------
#
# Examples:
# alias say-hello="echo hello"
#
# Custom directory shortcuts:
# alias dropbox="cd ~/Dropbox"
# alias torrents="cd ~/Torrents"
# alias dev="cd ~/dev-local"
