# Sample ~/.exports
# ----------------------------------------
# Put customized exports in here.
# See auto-included exports in ~/.shell
# ----------------------------------------
#
# Example:
# export GIT_EDITOR=vim
# export VISUAL=atom
# export EDITOR=atom
# export HOMEBREW_CASK_OPTS="--appdir=/Applications"
