# Fish secrets
secrets.fish

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini
.directory

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
extras.zsh
.extras
npm-debug.log

.config/configstore
.config/gatsby
.config/graphite/user_config
.config/iterm2
.config/uv
.config/yarn
.config/raycast/extensions

# junk dotfiles
.node_repl_history
.rdbg_history
.lesshst
.zhistory
.zsh_history
