# Sample ~/.path file
# Add custom additions to $PATH here.
#
# Example: Prepend GNU Coreutils path and manpath to existing $PATH/$MANPATH

# COREUTILS_BIN="/usr/local/opt/coreutils/bin";
# COREUTILS_MAN="/usr/local/opt/coreutils/share/man";
# [ -d $COREUTILS_BIN ] && export PATH="$COREUTILS_BIN:$PATH"
# [ -d $COREUTILS_MAN ] && export MANPATH="$COREUTILS_MAN:$MANPATH"
