[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/drew/Desktop/KDE Review]
row=1
col=2

[/home/drew/Desktop/Zoob]
row=0
col=1

[/home/drew/Desktop/teensy-setup.png]
row=0
col=0

[/home/drew/Desktop/WinePrograms]
row=0
col=2

[/home/drew/Desktop/Starcraft.desktop]
row=0
col=0

[/home/drew/Desktop/arduino-arduinoide.desktop]
row=1
col=0

[/home/drew/Desktop/Desktop Environment Screenshots]
row=1
col=0

[/home/drew/Desktop/1Password 4.desktop]
row=1
col=1

[/home/drew/Desktop/steam.desktop]
row=0
col=1

[/home/drew/Desktop/Montauk]
row=0
col=0

[/home/drew]
row=0
col=0

