[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/drew/Desktop/StarCraft II.desktop]
row=5
col=1

[/home/drew/Desktop/antergos-2016.06.18-x86_64.iso]
row=7
col=1

[/home/drew/Desktop/KDE Review]
row=5
col=0

[/home/drew/Desktop/Zoob]
row=9
col=0

[/home/drew/Desktop/banana-creme-shrunk.pi.gz]
row=1
col=1

[/home/drew/Desktop/conky.desktop]
row=3
col=1

[/home/drew/Desktop/EasyAVR-master]
row=4
col=0

[/home/drew/Desktop/WinePrograms]
row=8
col=0

[/home/drew/Desktop/Starcraft.desktop]
row=4
col=1

[/home/drew/Desktop/Battle.net.desktop]
row=2
col=1

[/home/drew/Desktop/Coachella Montauk Film]
row=2
col=0

[/home/drew/Desktop/Desktop Environment Screenshots]
row=3
col=0

[/home/drew/Desktop/SCIISS]
row=0
col=0

[/home/drew/Desktop/1Password 4.desktop]
row=0
col=1

[/home/drew/Desktop/steam.desktop]
row=6
col=1

[/home/drew/Desktop/Montauk]
row=6
col=0

[Obsidian]
row=1
col=0

[/home/drew]
row=7
col=0

