[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/drew/Desktop/KDE Review]
row=2
col=0

[/home/drew/Desktop/Zoob]
row=5
col=0

[/home/drew/Desktop/Screenshot_2016-05-14_04-11-02.png]
row=0
col=1

[/home/drew/Desktop/quicktile.desktop]
row=7
col=0

[/home/drew/Desktop/WinePrograms]
row=4
col=0

[/home/drew/Desktop/arduino-arduinoide.desktop]
row=9
col=0

[/home/drew/Desktop/Desktop Environment Screenshots]
row=1
col=0

[/home/drew/Desktop/1Password 4.desktop]
row=6
col=0

[/home/drew/Desktop/steam.desktop]
row=8
col=0

[/home/drew/Desktop/Montauk]
row=3
col=0

[/home/drew]
row=0
col=0

