[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/drew/Desktop/InputSerif]
row=1
col=0

[/home/drew/Desktop/WhiteFox-AriaBlank-v3]
row=0
col=2

[/home/drew/Desktop/zcash-sweet.png]
row=3
col=2

[/home/drew/Desktop/antergos-2016.06.18-x86_64.iso]
row=7
col=1

[/home/drew/Desktop/KDE Review]
row=5
col=0

[/home/drew/Desktop/Zoob]
row=9
col=0

[/home/drew/Desktop/banana-creme-shrunk.pi.gz]
row=1
col=1

[/home/drew/Desktop/Screenshot_2017-06-10_03-22-00.png]
row=6
col=4

[/home/drew/Desktop/sublime_text_3]
row=9
col=1

[/home/drew/Desktop/StarCraft II.desktop]
row=5
col=1

[/home/drew/Desktop/conky.desktop]
row=3
col=1

[/home/drew/Desktop/EasyAVR-master]
row=4
col=0

[/home/drew/Desktop/Battle.net.desktop]
row=2
col=1

[/home/drew/Desktop/WinePrograms]
row=8
col=0

[/home/drew/Desktop/Coachella Montauk Film]
row=2
col=0

[/home/drew/Desktop/Starcraft.desktop]
row=4
col=1

[/home/drew/Desktop/zcash-10K shares.png]
row=6
col=2

[/home/drew/Desktop/neon-useredition-20160713-1223-amd64.iso]
row=8
col=1

[/home/drew/Desktop/Screenshot_2017-06-10_03-21-52.png]
row=5
col=4

[/home/drew/Desktop/zcashmine-good.png]
row=2
col=2

[/home/drew/Desktop/Whitefox-Aria-v4]
row=1
col=2

[/home/drew/Desktop/Desktop Environment Screenshots]
row=3
col=0

[/home/drew/Desktop/SCIISS]
row=0
col=0

[/home/drew/Desktop/Screenshot_2017-06-10_03-16-24.png]
row=4
col=4

[/home/drew/Desktop/1Password 4.desktop]
row=0
col=1

[/home/drew/Desktop/steam.desktop]
row=6
col=1

[/home/drew/Desktop/zcash-splash.png]
row=4
col=2

[/home/drew/Desktop/Montauk]
row=6
col=0

[/home/drew/Desktop/Screenshot_2017-06-10_03-22-29.png]
row=7
col=4

[/home/drew]
row=7
col=0

