show_frame=false
fg_set=true
fg=59332R 55356G 17532B
bg_set=true
bg=0R 0G 0B
timezone=
width_set=false
height_set=true
height=70
lines_vertically=true
rotation=0
data0=%A, %b %d
font0=Input Sans Light 9
tooltip=%A %d %B %Y/%V
hib_timing=false
data1=%-I:%M %P
font1=Input Sans Light 12

