UpdateInterval=1
TimeScale=0
Size=25
Mode=1
Frame=1
Border=0
Bars=0
TrackedCore=0
Command=xfce4-taskmanager
InTerminal=0
StartupNotification=1
ColorMode=1
Foreground1=#c79bffffc79b
Foreground2=#ffffbd20d054
Foreground3=#5f751acb2b0b
Background=#000000000000
BarsColor=#43c5186d0caa

