[Main]
Timeout=700
Timeout_Seconds=1
Use_Timeout_Seconds=true
Use_Click_Command=true
Click_Command=xfce4-taskmanager

[SL_Cpu]
Enabled=true
Use_Label=false
Color=#F3FF8C
Text=cpu

[SL_Mem]
Enabled=true
Use_Label=true
Color=#92F092
Text=memories

[SL_Swap]
Enabled=true
Use_Label=false
Color=#282768
Text=swap

[SL_Uptime]
Enabled=false

