favorites=exo-web-browser.desktop,exo-mail-reader.desktop,exo-file-manager.desktop,libreoffice-writer.desktop,libreoffice-calc.desktop,pidgin.desktop,org.gnome.Software.desktop,exo-terminal-emulator.desktop,xfhelp4.desktop,google-chrome.desktop,sublime_text.desktop,zeal.desktop,xfce-settings-manager.desktop,slack.desktop,DigiaQt-qtcreator-community.desktop,vinagre.desktop
recent=google-chrome.desktop,nvidia-settings.desktop,xfce4-screenshooter.desktop,gnome-system-monitor.desktop,terminator.desktop,exo-terminal-emulator.desktop,vinagre.desktop,clementine.desktop,slack.desktop,sublime_text.desktop,trimage.desktop,logout.desktop,update-manager.desktop,org.gnome.DiskUtility.desktop,phoronix-test-suite.desktop
button-title=\ \ M A X R E L A X
button-icon=x-package-repository
button-single-row=false
show-button-title=true
show-button-icon=true
launcher-show-name=true
launcher-show-description=false
item-icon-size=3
hover-switch-category=false
category-icon-size=3
load-hierarchy=true
recent-items-max=15
favorites-in-recent=true
display-recent-default=true
position-search-alternate=true
position-commands-alternate=false
position-categories-alternate=false
menu-width=1329
menu-height=1262
menu-opacity=100
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-switchuser=dm-tool switch-to-greeter
show-command-switchuser=false
command-logout=xfce4-session-logout
show-command-logout=true
command-menueditor=menulibre
show-command-menueditor=true
command-profile=mugshot
show-command-profile=true
search-actions=4

[action0]
name=Man Pages
pattern=#
command=exo-open --launch TerminalEmulator man %s
regex=false

[action1]
name=Wikipedia
pattern=!w
command=exo-open --launch WebBrowser https://en.wikipedia.org/wiki/%u
regex=false

[action2]
name=Run in Terminal
pattern=!
command=exo-open --launch TerminalEmulator %s
regex=false

[action3]
name=Open URI
pattern=^(file|http|https):\\/\\/(.*)$
command=exo-open \\0
regex=true

