[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/drew/Desktop/Roger Sterling.txt]
row=0
col=2

[/home/drew/Desktop/KDE Review]
row=3
col=2

[/home/drew/Desktop/fKbaAIX.jpg]
row=3
col=1

[/home/drew/Desktop/Ital Tek - Hollowed 2016 [MP3 320].zip]
row=4
col=1

[/home/drew/Desktop/Agile1pAgent.exe]
row=2
col=2

[/home/drew/Desktop/WinePrograms]
row=0
col=1

[/home/drew/Desktop/sites@maxrelax.co]
row=2
col=1

[/home/drew/Desktop/1Password 4.desktop]
row=1
col=1

[/home/drew/Desktop/steam.desktop]
row=5
col=1

[/home/drew/Desktop/Obsidian]
row=1
col=2

[/home/drew/Desktop/Montauk]
row=6
col=1

[498d4fa5-a344-45d1-bd00-764c93aec336]
row=3
col=0

[ac3616fe-8033-46db-b9d9-e93e373fcd97]
row=1
col=0

[322E4AA32E4A6049]
row=4
col=0

[d4d5eb45-d02f-4f12-80cd-671055d76564]
row=2
col=0

[8408-0944]
row=0
col=0

[Trash]
row=5
col=0

[/]
row=6
col=0

[/home/drew]
row=4
col=2

