[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/drew/Desktop/Roger Sterling.txt]
row=0
col=1

[/home/drew/Desktop/KDE Review]
row=4
col=0

[/home/drew/Desktop/Zoob]
row=7
col=0

[/home/drew/Desktop/quicktile.desktop]
row=2
col=1

[/home/drew/Desktop/WinePrograms]
row=2
col=0

[/home/drew/Desktop/Desktop Environment Screenshots]
row=3
col=0

[/home/drew/Desktop/1Password 4.desktop]
row=8
col=0

[/home/drew/Desktop/steam.desktop]
row=1
col=1

[/home/drew/Desktop/Montauk]
row=0
col=0

[/home/drew/Desktop/Obsidian]
row=3
col=1

[Trash]
row=5
col=0

[/]
row=6
col=0

[/home/drew]
row=1
col=0

