[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/drew/Desktop/KDE Review]
row=2
col=0

[/home/drew/Desktop/sdf-partition-table-try-exact.txt]
row=1
col=1

[/home/drew/Desktop/teensy-setup.png]
row=0
col=1

[/home/drew/Desktop/banana-creme-shrunk.pi.gz]
row=4
col=1

[/home/drew/Desktop/Zoob]
row=5
col=0

[/home/drew/Desktop/WinePrograms]
row=4
col=0

[/home/drew/Desktop/Starcraft.desktop]
row=8
col=0

[/home/drew/Desktop/sdf-partition-table-backup (copy 1).txt]
row=3
col=1

[/home/drew/Desktop/arduino-arduinoide.desktop]
row=7
col=0

[/home/drew/Desktop/Desktop Environment Screenshots]
row=1
col=0

[/home/drew/Desktop/gparted_details.htm]
row=2
col=1

[/home/drew/Desktop/1Password 4.desktop]
row=6
col=0

[/home/drew/Desktop/steam.desktop]
row=9
col=0

[/home/drew/Desktop/Montauk]
row=3
col=0

[/home/drew]
row=0
col=0

