[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/drew/Desktop/Roger Sterling.txt]
row=4
col=1

[/home/drew/Desktop/Montauk]
row=3
col=1

[/home/drew/Desktop/samsung-850-1000x2MiB.png]
row=9
col=1

[/home/drew/Desktop/KDE Review]
row=4
col=0

[/home/drew/Desktop/fKbaAIX.jpg]
row=1
col=1

[/home/drew/Desktop/Input_Fonts]
row=3
col=0

[/home/drew/Desktop/Agile1pAgent.exe]
row=8
col=0

[/home/drew/Desktop/samsung-850-100x100MiB.png]
row=8
col=1

[/home/drew/Desktop/Obsidian]
row=9
col=0

[/home/drew/Desktop/WinePrograms]
row=0
col=0

[/home/drew/Desktop/xub-desktop-thefirst.png]
row=0
col=2

[/home/drew/Desktop/samsung-850-100x10MiB.png]
row=2
col=1

[/home/drew/Desktop/E8442_Maximus_VI_Extreme.pdf]
row=0
col=1

[/home/drew/Desktop/sites@maxrelax.co]
row=5
col=1

[/home/drew/Desktop/1Password 4.desktop]
row=1
col=0

[/home/drew/Desktop/steam.desktop]
row=7
col=1

[/home/drew/Desktop/starxfce.log.txt]
row=6
col=1

[/home/drew/Desktop/__new mp3]
row=2
col=0

[Trash]
row=5
col=0

[/]
row=6
col=0

[/home/drew]
row=7
col=0

